<div class="auth-container">
  <div class="auth-box">
    <h2>Create Account</h2>
    <form (ngSubmit)="onSignup()">
      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="signupData.name" required>
      </div>
      <div class="input-group">
        <label for="email">Email (&#64;anurag.edu.in)</label>
        <input type="email" id="email" name="email" [(ngModel)]="signupData.email" required>
      </div>
       <div class="input-group">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="signupData.phone" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="signupData.password" required>
      </div>
      <button type="submit" class="auth-button">Sign up</button>
    </form>
    <p class="redirect-link">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>